          <div id="InfoColumn" class="page-column page-column--left js-left-nav-col">
                            <div class="mobile-content-topbar hide">
                                <button class="toggle-left-col toggle-left-col__article">Article Navigation</button>
                            </div>
                            <div class="info-inner-wrap js-left-nav" style="top: 0px;">
                                <button class="toggle-left-col__close btn-as-icon icon-general-close">
                                    <span class="screenreader-text">Close mobile search navigation</span>
                                </button>
                                <div class="responsive-nav-title">Article Navigation</div>
                                <div class="info-widget-wrap">
                                    <div class="widget widget-IssueInfo widget-instance-OUP_IssueInfo_Article">


                                        <div id="issueInfo-OUP_IssueInfo_Article" class="article-info-wrap clearfix">
                                            <i class="icon-general-close mobile-nav-btn nav-open"></i>
                                            <div class="article-issue-img">
                                                <a href="/nar/issue/28/1">
                                                    <img id="issueImage" class="fb-featured-image"
                                                         src="https://oup.silverchair-cdn.com/oup/backfile/Content_public/Journal/nar/Issue/28/1/2/m_cover.gif?Expires=1594553560&amp;Signature=Pa0mpmkNLhff6dnFThp7e68i2maP2Ua7ZMVB7wSF2KsmgvsrIwrGlIT0SvIR4WS3K4uqMAA9Q1MXi7HGf2uLNS5JuY4O4Y8EVM335zVUKwqwJcCfAvRt4h2GDIntHDZydNd1ac6rZZ5DgessoFruH0adXVS0zisoxjFxeJ1sTD8PlJzARnfqcFnhUw08vuBxBP5jX85Q4KdBJ5bfZa32-9V58APPR821RqJOYbq8GOzExVEWG5iXRNFLKrlObdj1ylenk~307Gn52Nap22wbhq7OhQwG0Cu7tuvlF344ePYlxvhKukA6A6h-JCI2C2DejtBjG4uAzg9ObUyBrKkuPw__&amp;Key-Pair-Id=APKAIE5G5CRDK6RD3PGA"
                                                         alt="Issue Cover">
                                                </a>
                                            </div>
                                            <div class="article-issue-info">
                                                <div class="volume-issue__wrap">

                                                    <a href="/nar/issue/28/1">
                                                        <div class="volume trailing-comma">Volume 28</div>
                                                        <div class="issue">Issue 1</div>

                                                    </a>

                                                </div>
                                                <div class="ii-pub-date">
                                                    1 January 2000
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="content-nav">
                                        <div class="widget widget-ArticleJumpLinks widget-instance-OUP_ArticleJumpLinks_Widget">

                                            <h3 class="contents-title">Article Contents</h3>
                                            <ul class="jumplink-list">
                                                <li class="section-jump-link head-1" link-destination="38315093">
                                                    <div class="section-jump-link__link-wrap">

                                                        <a class="js-jumplink scrollTo active"
                                                           href="#38315093">Abstract</a>
                                                    </div>
                                                </li>
                                                <li class="section-jump-link head-1" link-destination="38315096">
                                                    <div class="section-jump-link__link-wrap">

                                                        <a class="js-jumplink scrollTo"
                                                           href="#38315096">INTRODUCTION</a>
                                                    </div>
                                                </li>
                                                <li class="section-jump-link head-1" link-destination="38315099">
                                                    <div class="section-jump-link__link-wrap">

                                                        <a class="js-jumplink scrollTo" href="#38315099">
                                                            GENOMIC
                                                            INFORMATION
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="section-jump-link head-1" link-destination="38315105">
                                                    <div class="section-jump-link__link-wrap">

                                                        <a class="js-jumplink scrollTo" href="#38315105">
                                                            PATHWAY
                                                            INFORMATION
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="section-jump-link head-1" link-destination="38315114">
                                                    <div class="section-jump-link__link-wrap">

                                                        <a class="js-jumplink scrollTo"
                                                           href="#38315114">AVAILABILITY</a>
                                                    </div>
                                                </li>
                                                <li class="section-jump-link head-1" link-destination="38315119">
                                                    <div class="section-jump-link__link-wrap">

                                                        <a class="js-jumplink scrollTo"
                                                           href="#38315119">ACKNOWLEDGEMENTS</a>
                                                    </div>
                                                </li>
                                                <li class="section-jump-link head-1 backReferenceLink"
                                                    link-destination="38315127">
                                                    <div class="section-jump-link__link-wrap">

                                                        <a class="js-jumplink scrollTo" href="#38315127">References</a>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>


                                    </div>
                                    <div class="widget widget-ArticleNavLinks widget-instance-OUP_ArticleNavLinks_Article">
                                        <ul class="inline-list">
                                            <li class="prev arrow">
                                                <a href="/nar/article/28/1/24/2384323">&lt; Previous</a>
                                            </li>
                                            <li class="next arrow">
                                                <a href="/nar/article/28/1/31/2384390">Next &gt;</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>