<section class="footer_wrap vt-site-footer">

    <div class="widget widget-SitePageFooter widget-instance-SitePageFooter">

        <div class="journal-footer journal-bg">
            <div class="center-inner-row">

                <div class="journal-footer-menu">

                </div><!-- /.journal-footer-menu -->

                <div class="journal-footer-affiliations">
                    <!-- <h3>Affiliations</h3> -->
                    <a href="" target="">
                        <img id="footer-logo-NucleicAcidsResearch" class="journal-footer-affiliations-logo"
                             src=""
                             alt="Nucleic Acids Research">
                    </a>
                </div><!-- /.journal-footer-affiliations -->

                <div class="journal-footer-colophon">
                    <ul>
                        <li>Online ISSN 1362-4962</li>
                        <li>Print ISSN 0305-1048</li>
                        <li>Copyright © {$year} {$publisher}</li>
                    </ul>
                </div><!-- /.journal-footer-colophon -->


            </div><!-- /.center-inner-row -->
        </div><!-- /.journal-footer -->

    </div>

    <div class="oup-footer">
        <div class="center-inner-row">
            <div class="widget widget-SelfServeContent widget-instance-OupUmbrellaFooterSelfServe">
                <div class="oup-footer-row journal-links">

                    <div class="global-footer selfservelinks">
                        <h4>Resources</h4>
                        <ul>
                            <li>
                                <a href="/journals/pages/authors">Authors</a>
                            </li>
                            <li>
                                <a href="/journals/pages/librarians">Librarians</a>
                            </li>
                            <li>
                                <a href="/journals/pages/societies">Societies</a>
                            </li>
                            <li>
                                <a href="https://academic.oup.com/journals/pages/sponsorship_and_advertising">
                                    Sponsors
                                    &amp; Advertisers
                                </a>
                            </li>
                            <li>
                                <a href="/journals/pages/press">Press &amp; Media</a>
                            </li>
                            <li>
                                <a href="/journals/pages/agents">Agents</a>
                            </li>
                        </ul>
                    </div>

                    <div class="OUP-mission">
                        <p>
                            {$publisher_info}
                        </p>
                        <img class="journal-footer-logo"
                             src=""
                             alt="Oxford University Press" width="150" height="42">
                    </div>
                </div>
                <div class="oup-footer-row">
                    <div class="oup-footer-row-links">
                        <ul>
                            <li>Copyright © {$year} {$publisher}</li>
                            <li>
                                <a href="/journals/pages/about_us/legal/notices">Legal Notice</a>
                            </li>
                            <li>
                                <a href="/journals/pages/sitemap">Site Map</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <style type="text/css">
                    /* Issue right column fix for tablet/mobile */
                    @media (max-width: 1200px) {
                        .pg_issue .widget-instance-OUP_Issue {
                            width: 100%;
                        }
                    }

                    .sf-facet-list .sf-facet label,
                    .sf-facet-list .taxonomy-label-wrap label {
                        font-size: .9375rem;
                    }

                    .issue-pagination-wrap .pagination-container {
                        float: right;
                    }
                </style>

            </div>

        </div>
    </div>

</section>