<meta class="foundation-mq-small">
<meta class="foundation-mq-small-only">
<meta class="foundation-mq-medium">
<meta class="foundation-mq-medium-only">
<meta class="foundation-mq-large">
<meta class="foundation-mq-large-only">
<meta class="foundation-mq-xlarge">
<meta class="foundation-mq-xlarge-only">
<meta class="foundation-mq-xxlarge">
<meta class="foundation-data-attribute-namespace">

<title>{$title} | GCModeller</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="msapplication-config" content="assets/browserconfig.xml">
<meta name="theme-color" content="#002f65">

<link rel="stylesheet" type="text/css" href="styles/style.min.css">
<link rel="stylesheet" type="text/css" href="styles/app.css">

<link rel="stylesheet" type="text/css" href="styles/at.css">
<link rel="stylesheet" type="text/css" href="styles/MathJax.css">

<meta property="og:site_name" content="GCModeller blog">
<meta property="og:type" content="article">
<meta property="og:title" content="{$title}">
<meta property="og:description" content="{$abstract}">
<meta property="og:url" content="{$static_url}">
<meta property="og:image" content="{$static_cover}">
<meta property="og:updated_time" content="{$date_time}">

<meta name="citation_author" content="{$author}">
<meta name="citation_author_institution" content="{$location}">   
<meta name="citation_title" content="{$title}">
<meta name="citation_doi" content="{$doi}">
<meta name="citation_keyword" content="{$keywords}">   
<meta name="citation_publication_date" content="{$date_time}">
<meta name="citation_publisher" content="{$publisher}">
    
<meta name="description" content="{$abstract}">

<link rel="canonical" href="{$static_url}">