<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    ${./includes/head.html}

</head>

<body data-sitename="nucleicacidsresearch" class="off-canvas pg_Article pg_article" theme-nar=""
    data-sitestyletemplate="Journal">
    <div class="master-container js-master-container">
        <section class="master-header row js-master-header vt-site-page-header">
            <div class="widget widget-SitePageHeader widget-instance-SitePageHeader">

                <div class="oup-header">
                    <div class="center-inner-row">
                        <div class="oup-header-logo">
                            <a href="/">
                                <img src="" alt="Oxford University Press" class="oup-header-image">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="journal-header journal-bg">
                    <div class="center-inner-row">
                        <a href="/nar" class="journal-logo-container">
                            <img id="logo-NucleicAcidsResearch" class="journal-logo" src=""
                                alt="Nucleic Acids Research">
                        </a>

                        <div class="society-logo-block">
                        </div>
                    </div>
                </div>


                ${./includes/menu_nav.html}

            </div>

        </section>

        <div id="main" class="content-main js-main ui-base">
            <section class="master-main row">
                <div class="center-inner-row no-overflow">
                    <a href="#" id="skipNav" tabindex="-1"></a>



                    <div class="page-column-wrap">

                        ${./includes/article_nav.html}

                        <div class="sticky-toolbar js-sticky-toolbar">
                            <div class="toolbar-wrap js-toolbar-wrap">
                                <div class="toolbar-inner-wrap">
                                    <ul id="Toolbar" role="navigation">
                                        <li class="toolbar-item item-pdf">
                                            <a class="al-link pdf article-pdfLink" data-article-id="2384332"
                                                href="/nar/article-pdf/28/1/27/9895154/280027.pdf">
                                                <img src="" alt="pdf"><span class="pdf-link-text">PDF</span>
                                            </a>
                                        </li>
                                        <li class="toolbar-item item-link item-split-view">
                                            <a href="javascript:;" class="split-view js-split-view st-split-view"
                                                target="">
                                                <i class="icon-menu_split"></i>
                                                Split View
                                            </a>
                                        </li>
                                        <li class="toolbar-item item-with-dropdown item-views">
                                            <a class="drop-trigger" href="javascript:;" data-dropdown="FilterDrop"
                                                aria-haspopup="true">
                                                <i class="icon-menu_views"></i>
                                                <div class="toolbar-label">
                                                    <div class="toolbar-text">Views</div>
                                                    <i class="icon-general-arrow-filled-down arrow-icon"></i>
                                                </div>
                                            </a>
                                            <ul id="ViewsDrop" class="f-dropdown" data-dropdown-content=""
                                                aria-label="submenu">
                                                <div class="arrow-up" style="display: block;"></div>
                                                <li class="article-content-filter js-article-content-filter"
                                                    data-content-filter="article-content" style="display: none;">
                                                    <a href="javascript:;"><span>Article contents</span></a>
                                                </li>
                                                <li class="article-content-filter js-article-content-filter"
                                                    data-content-filter="figures-tables">
                                                    <a href="javascript:;"><span>Figures &amp; tables</span></a>
                                                </li>



                                            </ul>
                                        </li>
                                        <li class="toolbar-item">
                                            <div
                                                class="widget widget-ToolboxGetCitation widget-instance-OUP_Get_Citation">
                                                <a href="#" class="js-cite-button" data-reveal-id="getCitation"
                                                    data-reveal=""><i class="icon-read-more"></i><span>Cite</span></a>

                                                <div id="getCitation" class="reveal-modal" data-reveal="">
                                                    <h3 class="modal-title">Cite</h3>
                                                    <div class="oxford-citation-text">
                                                        <p>
                                                            Minoru Kanehisa, Susumu Goto, KEGG: Kyoto Encyclopedia of
                                                            Genes and Genomes,
                                                            <em>Nucleic Acids Research</em>, Volume
                                                            28, Issue 1, 1 January 2000, Pages 27–30,
                                                            <a
                                                                href="https://doi.org/10.1093/nar/28.1.27">https://doi.org/10.1093/nar/28.1.27</a>
                                                        </p>
                                                    </div>

                                                    <div class="citation-download-wrap">
                                                        <form action="/Citation/Download" method="get"
                                                            id="citationModal">
                                                            <input type="hidden" name="resourceId" value="2384332">
                                                            <input type="hidden" name="resourceType" value="3">
                                                            <label for="selectFormat" class="hide">Select Format</label>
                                                            <select required="" name="citationFormat"
                                                                class="citation-download-format" id="selectFormat">
                                                                <option selected="" disabled="">Select format</option>
                                                                <option value="0">
                                                                    .ris (Mendeley, Papers, Zotero)
                                                                </option>
                                                                <option value="1">.enw (EndNote)</option>
                                                                <option value="2">.bibtex (BibTex)</option>
                                                                <option value="3">.txt (Medlars, RefWorks)</option>

                                                            </select>
                                                            <button class="btn citation-download-link disabled"
                                                                type="submit">
                                                                Download citation
                                                            </button>
                                                        </form>
                                                    </div>

                                                    <a class="close-reveal-modal" href="javascript:;">
                                                        <i class="icon-general-close"></i><span
                                                            class="screenreader-text">Close</span>
                                                    </a>
                                                </div>

                                            </div>

                                        </li>
                                        <li class="toolbar-item item-tools">
                                            <div class="widget widget-ToolboxPermissions widget-instance-">
                                                <div class="module-widget">
                                                    <a href="https://s100.copyright.com/AppDispatchServlet?publisherName=OUP&amp;publication=1362-4962&amp;title=KEGG%3A%20Kyoto%20Encyclopedia%20of%20Genes%20and%20Genomes&amp;publicationDate=2000-01-01&amp;volumeNum=28&amp;issueNum=1&amp;author=Kanehisa%2C%20Minoru%3B%20Goto%2C%20Susumu&amp;startPage=27&amp;endPage=30&amp;contentId=10.1093%2Fnar%2F28.1.27&amp;oa=CC%20BY&amp;copyright=Oxford%20University%20Press&amp;orderBeanReset=True"
                                                        id="PermissionsLink" class="" target="">
                                                        <i class="icon-menu_permissions">
                                                            <span class="screenreader-text">Permissions Icon</span>
                                                        </i>
                                                        Permissions
                                                    </a>
                                                </div>

                                            </div>

                                        </li>

                                    </ul>
                                    <div class="toolbar-search">
                                        <div
                                            class="widget widget-SitePageHeader widget-instance-OUP_ArticleToolbarSearchBox">






                                            <div class="navbar">
                                                <div class="center-inner-row">
                                                    <nav class="navbar-menu">

                                                    </nav>
                                                    <div class="navbar-search-container">
                                                        <a href="javascript:;"
                                                            class="navbar-search-close js_close-navsearch">Close</a>
                                                        <div class="navbar-search">
                                                            <div id="MicrositeSearch" class="microsite-search">
                                                                <label for="navbar-search-filter"
                                                                    class="screenreader-text">search filter</label>
                                                                <select class="navbar-search-filter"
                                                                    id="navbar-search-filter">
                                                                    <optgroup label="Search within this journal">
                                                                        <option class="header-search-bar-filters-item"
                                                                            value="Issue">
                                                                            This issue
                                                                        </option>
                                                                        <option class="header-search-bar-filters-item"
                                                                            value="" selected="&quot;selected&quot;">
                                                                            All
                                                                            Nucleic Acids Research
                                                                        </option>

                                                                    </optgroup>
                                                                    <optgroup label="Search beyond this journal">
                                                                        <option class="header-search-bar-filters-item"
                                                                            value="Parent">
                                                                            All NAR Journals
                                                                        </option>
                                                                        <option class="header-search-bar-filters-item"
                                                                            value="Journals">
                                                                            All Journals
                                                                        </option>
                                                                    </optgroup>
                                                                </select>

                                                                <label for="MicrositeSearchTerm"
                                                                    class="screenreader-text">search input</label>
                                                                <input class="navbar-search-input microsite-search-term"
                                                                    type="text" maxlength="255" id="MicrositeSearchTerm"
                                                                    title="search input">

                                                                <a href="javascript:;" id="MicrositeSearchIcon"
                                                                    class="microsite-search-icon navbar-search-submit icon-menu_search">
                                                                    <span class="screenreader-text">Search</span>
                                                                </a>

                                                            </div>
                                                        </div>
                                                        <div class="navbar-search-advanced">
                                                            <a href="https://academic.oup.com/nar/advanced-search?page=1&amp;fl_SiteID=5127&amp;SearchSourceType=1"
                                                                class="advanced-search js-advanced-search">
                                                                Advanced
                                                                Search
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="navbar-search-collapsed">
                                                        <a href="javascript:;"
                                                            class="icon-menu_search js_expand-navsearch">
                                                            <span class="screenreader-text">Search Menu</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ContentColumn" class="page-column page-column--center">
                            <div class="article-browse-top article-browse-mobile-nav js-mobile-nav">
                                <div class="article-browse-mobile-nav-inner js-mobile-nav-inner">
                                    <button class="toggle-left-col toggle-left-col__article btn-as-link">
                                        Article Navigation
                                    </button>
                                </div>
                            </div>
                            <div class="content-inner-wrap">
                                <div class="widget widget-ArticleTopInfo widget-instance-OUP_ArticleTop_Info_Widget">
                                    <div class="module-widget article-top-widget">

                                        <div class="widget-items">
                                            <h1 class="wi-article-title article-title-main">
                                                KEGG: Kyoto Encyclopedia of Genes and Genomes
                                                <i class="icon-availability_open" title="Open Access"></i>
                                            </h1>
                                            <div class="wi-authors">
                                                <div class="al-authors-list">
                                                    <span class="al-author-name-more">


                                                        <span class="al-author-info-wrap arrow-up" style="">
                                                            <div id="authorInfo_OUP_ArticleTop_Info_Widget"
                                                                class="info-card-author authorInfo_OUP_ArticleTop_Info_Widget">
                                                                <div class="name-role-wrap">
                                                                    <div class="info-card-name">
                                                                        Minoru Kanehisa
                                                                    </div>

                                                                </div>

                                                                <div class="info-card-affilitation">
                                                                    <div class="aff">
                                                                        Institute for Chemical Research,
                                                                        Kyoto University, Uji, Kyoto 611-0011, Japan
                                                                    </div>
                                                                </div>

                                                                <div class="info-card-search-label">
                                                                    Search for other works by this author on:
                                                                </div>

                                                                <div class="info-card-search info-card-search-internal">
                                                                    <a
                                                                        href="/nar/search-results?f_Authors=Minoru+Kanehisa">
                                                                        Oxford
                                                                        Academic
                                                                    </a>
                                                                </div>

                                                                <div class="info-card-search info-card-search-pubmed">
                                                                    <a
                                                                        href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=search&amp;term=Kanehisa M">PubMed</a>
                                                                </div>
                                                                <div class="info-card-search info-card-search-google">
                                                                    <a
                                                                        href="http://scholar.google.com/scholar?q=author:&quot;Kanehisa Minoru&quot;">
                                                                        Google
                                                                        Scholar
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </span>



                                                        <a class="linked-name" href="javascript:;">
                                                            Minoru
                                                            Kanehisa
                                                        </a><span class="delimiter">, </span>
                                                    </span>
                                                    <span class="al-author-name-more">


                                                        <span class="al-author-info-wrap arrow-up" style="">
                                                            <div id="authorInfo_OUP_ArticleTop_Info_Widget"
                                                                class="info-card-author authorInfo_OUP_ArticleTop_Info_Widget">
                                                                <div class="name-role-wrap">
                                                                    <div class="info-card-name">
                                                                        Susumu Goto
                                                                    </div>

                                                                </div>

                                                                <div class="info-card-affilitation">
                                                                    <div class="aff">
                                                                        Institute for Chemical Research,
                                                                        Kyoto University, Uji, Kyoto 611-0011, Japan
                                                                    </div>
                                                                </div>

                                                                <div class="info-card-search-label">
                                                                    Search for other works by this author on:
                                                                </div>

                                                                <div class="info-card-search info-card-search-internal">
                                                                    <a href="/nar/search-results?f_Authors=Susumu+Goto">
                                                                        Oxford
                                                                        Academic
                                                                    </a>
                                                                </div>

                                                                <div class="info-card-search info-card-search-pubmed">
                                                                    <a
                                                                        href="http://www.ncbi.nlm.nih.gov/pubmed?cmd=search&amp;term=Goto S">PubMed</a>
                                                                </div>
                                                                <div class="info-card-search info-card-search-google">
                                                                    <a
                                                                        href="http://scholar.google.com/scholar?q=author:&quot;Goto Susumu&quot;">
                                                                        Google
                                                                        Scholar
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </span>



                                                        <a class="linked-name" href="javascript:;">Susumu Goto</a><span
                                                            class="delimiter"></span>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="pub-history-wrap clearfix">

                                                <div class="pub-history-row clearfix">
                                                    <div class="ww-citation-primary">
                                                        <em>Nucleic Acids Research</em>,
                                                        Volume 28, Issue 1, 1 January 2000, Pages 27–30,
                                                        <a
                                                            href="https://doi.org/10.1093/nar/28.1.27">https://doi.org/10.1093/nar/28.1.27</a>
                                                    </div>
                                                </div>
                                                <div class="pub-history-row clearfix">
                                                    <div class="ww-citation-date-wrap">
                                                        <div class="citation-label">Published:</div>
                                                        <div class="citation-date">01 January 2000</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="article-body js-content-body">
                                    <div class="toolbar-wrap js-toolbar-wrap">
                                        <div class="toolbar-inner-wrap">
                                            <ul id="Toolbar" role="navigation">
                                                <li class="toolbar-item item-pdf">
                                                    <a class="al-link pdf article-pdfLink" data-article-id="2384332"
                                                        href="/nar/article-pdf/28/1/27/9895154/280027.pdf">
                                                        <img src="" alt="pdf"><span class="pdf-link-text">PDF</span>
                                                    </a>
                                                </li>
                                                <li class="toolbar-item item-link item-split-view">
                                                    <a href="javascript:;"
                                                        class="split-view js-split-view st-split-view" target="">
                                                        <i class="icon-menu_split"></i>
                                                        Split View
                                                    </a>
                                                </li>
                                                <li class="toolbar-item item-with-dropdown item-views">
                                                    <a class="drop-trigger" href="javascript:;"
                                                        data-dropdown="FilterDrop" aria-haspopup="true">
                                                        <i class="icon-menu_views"></i>
                                                        <div class="toolbar-label">
                                                            <div class="toolbar-text">Views</div>
                                                            <i class="icon-general-arrow-filled-down arrow-icon"></i>
                                                        </div>
                                                    </a>
                                                    <ul id="ViewsDrop" class="f-dropdown" data-dropdown-content=""
                                                        aria-label="submenu">
                                                        <div class="arrow-up" style="display: block;"></div>
                                                        <li class="article-content-filter js-article-content-filter"
                                                            data-content-filter="article-content"
                                                            style="display: none;">
                                                            <a href="javascript:;"><span>Article contents</span></a>
                                                        </li>
                                                        <li class="article-content-filter js-article-content-filter"
                                                            data-content-filter="figures-tables">
                                                            <a href="javascript:;"><span>Figures &amp; tables</span></a>
                                                        </li>



                                                    </ul>
                                                </li>
                                                <li class="toolbar-item">
                                                    <div
                                                        class="widget widget-ToolboxGetCitation widget-instance-OUP_Get_Citation">
                                                        <a href="#" class="js-cite-button" data-reveal-id="getCitation"
                                                            data-reveal="">
                                                            <i class="icon-read-more"></i><span>Cite</span>
                                                        </a>

                                                        <div id="getCitation" class="reveal-modal" data-reveal="">
                                                            <h3 class="modal-title">Cite</h3>
                                                            <div class="oxford-citation-text">
                                                                <p>
                                                                    Minoru Kanehisa, Susumu Goto, KEGG: Kyoto
                                                                    Encyclopedia of Genes and Genomes,
                                                                    <em>
                                                                        Nucleic Acids
                                                                        Research
                                                                    </em>, Volume 28, Issue 1, 1 January
                                                                    2000, Pages 27–30,
                                                                    <a
                                                                        href="https://doi.org/10.1093/nar/28.1.27">https://doi.org/10.1093/nar/28.1.27</a>
                                                                </p>
                                                            </div>

                                                            <div class="citation-download-wrap">
                                                                <form action="/Citation/Download" method="get"
                                                                    id="citationModal">
                                                                    <input type="hidden" name="resourceId"
                                                                        value="2384332">
                                                                    <input type="hidden" name="resourceType" value="3">
                                                                    <label for="selectFormat" class="hide">
                                                                        Select
                                                                        Format
                                                                    </label>
                                                                    <select required="" name="citationFormat"
                                                                        class="citation-download-format"
                                                                        id="selectFormat">
                                                                        <option selected="" disabled="">
                                                                            Select format
                                                                        </option>
                                                                        <option value="0">
                                                                            .ris (Mendeley, Papers,
                                                                            Zotero)
                                                                        </option>
                                                                        <option value="1">.enw (EndNote)</option>
                                                                        <option value="2">.bibtex (BibTex)</option>
                                                                        <option value="3">
                                                                            .txt (Medlars, RefWorks)
                                                                        </option>

                                                                    </select>
                                                                    <button class="btn citation-download-link disabled"
                                                                        type="submit">
                                                                        Download citation
                                                                    </button>
                                                                </form>
                                                            </div>

                                                            <a class="close-reveal-modal" href="javascript:;">
                                                                <i class="icon-general-close"></i><span
                                                                    class="screenreader-text">Close</span>
                                                            </a>
                                                        </div>

                                                    </div>

                                                </li>
                                                <li class="toolbar-item item-tools">
                                                    <div class="widget widget-ToolboxPermissions widget-instance-">
                                                        <div class="module-widget">
                                                            <a href="https://s100.copyright.com/AppDispatchServlet?publisherName=OUP&amp;publication=1362-4962&amp;title=KEGG%3A%20Kyoto%20Encyclopedia%20of%20Genes%20and%20Genomes&amp;publicationDate=2000-01-01&amp;volumeNum=28&amp;issueNum=1&amp;author=Kanehisa%2C%20Minoru%3B%20Goto%2C%20Susumu&amp;startPage=27&amp;endPage=30&amp;contentId=10.1093%2Fnar%2F28.1.27&amp;oa=CC%20BY&amp;copyright=Oxford%20University%20Press&amp;orderBeanReset=True"
                                                                id="PermissionsLink" class="" target="">
                                                                <i class="icon-menu_permissions">
                                                                    <span class="screenreader-text">
                                                                        Permissions
                                                                        Icon
                                                                    </span>
                                                                </i>
                                                                Permissions
                                                            </a>
                                                        </div>

                                                    </div>

                                                </li>
                                                <li class="toolbar-item item-with-dropdown item-share last">
                                                    <a class="drop-trigger" href="javascript:;"
                                                        data-dropdown="ShareDrop" aria-haspopup="true">
                                                        <i class="icon-menu_share"></i>
                                                        <div class="toolbar-label">
                                                            <div class="toolbar-text">Share</div>
                                                            <i class="icon-general-arrow-filled-down arrow-icon"></i>
                                                        </div>
                                                    </a>
                                                    <ul id="ShareDrop"
                                                        class="addthis_toolbox addthis_default_style addthis_20x20_style f-dropdown"
                                                        data-dropdown-content="" aria-label="submenu">
                                                        <div class="arrow-up"></div>
                                                        <li>
                                                            <a class="addthis_button_email at300b" target="_blank"
                                                                title="Email" href="#"><span>Email</span></a>
                                                        </li>
                                                        <li>
                                                            <a class="addthis_button_twitter at300b" title="Twitter"
                                                                href="#"><span>Twitter</span></a>
                                                        </li>
                                                        <li>
                                                            <a class="addthis_button_facebook at300b" title="Facebook"
                                                                href="#"><span>Facebook</span></a>
                                                        </li>
                                                        <li>
                                                            <a class="addthis_button_compact at300m"
                                                                href="#"><span>More</span></a>
                                                        </li>
                                                        <div class="atclear"></div>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="toolbar-search">
                                                <div
                                                    class="widget widget-SitePageHeader widget-instance-OUP_ArticleToolbarSearchBox">

                                                    <div class="navbar">
                                                        <div class="center-inner-row">
                                                            <nav class="navbar-menu">

                                                            </nav>
                                                            <div class="navbar-search-container">
                                                                <a href="javascript:;"
                                                                    class="navbar-search-close js_close-navsearch">Close</a>
                                                                <div class="navbar-search">
                                                                    <div id="MicrositeSearch" class="microsite-search">
                                                                        <label for="navbar-search-filter"
                                                                            class="screenreader-text">
                                                                            search
                                                                            filter
                                                                        </label>
                                                                        <select class="navbar-search-filter"
                                                                            id="navbar-search-filter">
                                                                            <optgroup
                                                                                label="Search within this journal">
                                                                                <option
                                                                                    class="header-search-bar-filters-item"
                                                                                    value="Issue">
                                                                                    This issue
                                                                                </option>
                                                                                <option
                                                                                    class="header-search-bar-filters-item"
                                                                                    value=""
                                                                                    selected="&quot;selected&quot;">
                                                                                    All
                                                                                    Nucleic Acids Research
                                                                                </option>

                                                                            </optgroup>
                                                                            <optgroup
                                                                                label="Search beyond this journal">
                                                                                <option
                                                                                    class="header-search-bar-filters-item"
                                                                                    value="Parent">
                                                                                    All NAR Journals
                                                                                </option>
                                                                                <option
                                                                                    class="header-search-bar-filters-item"
                                                                                    value="Journals">
                                                                                    All Journals
                                                                                </option>
                                                                            </optgroup>
                                                                        </select>

                                                                        <label for="MicrositeSearchTerm"
                                                                            class="screenreader-text">
                                                                            search
                                                                            input
                                                                        </label>
                                                                        <input
                                                                            class="navbar-search-input microsite-search-term"
                                                                            type="text" maxlength="255"
                                                                            id="MicrositeSearchTerm"
                                                                            title="search input">

                                                                        <a href="javascript:;" id="MicrositeSearchIcon"
                                                                            class="microsite-search-icon navbar-search-submit icon-menu_search">
                                                                            <span
                                                                                class="screenreader-text">Search</span>
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                                <div class="navbar-search-advanced">
                                                                    <a href="https://academic.oup.com/nar/advanced-search?page=1&amp;fl_SiteID=5127&amp;SearchSourceType=1"
                                                                        class="advanced-search js-advanced-search">
                                                                        Advanced
                                                                        Search
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="navbar-search-collapsed">
                                                                <a href="javascript:;"
                                                                    class="icon-menu_search js_expand-navsearch">
                                                                    <span class="screenreader-text">Search Menu</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="ContentTab" class="content active">

                                        ${./content.html}

                                    </div>
                                </div>

                            </div>
                        </div>

                        ${./includes/related.html}

                    </div>


                </div><!-- /.center-inner-row no-overflow -->
            </section>
        </div>

        ${./includes/footer.html}
    </div>

</body>

</html>