                       <div id="Sidebar" class="page-column page-column--right" style="height: auto;">

                            <div class="widget widget-dynamic " data-count="1">

                                <div class="widget-dynamic-inner-wrap">

                                    <div class="widget widget-dynamic " data-count="10">

                                        <div class="widget-dynamic-inner-wrap">

                                            <div class="widget widget-RelatedContent widget-instance-Article_RightRailB0Article_RightRail_RelatedContent">
                                                <h3 class="article-widget-head">More on this topic</h3>
                                                <div class="widget-related-content">
                                                    <div class="article-title">
                                                        <a href="/nar/article/45/6/3395/2979307">
                                                            DNA target recognition
                                                            domains in the Type I restriction and modification systems
                                                            of <em>Staphylococcus aureus</em>
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="/nar/article/45/6/3378/2965385">
                                                            Cytidine deaminase
                                                            efficiency of the lentiviral viral restriction factor
                                                            APOBEC3C correlates with dimerization
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="/nar/article/45/D1/D543/2605724">
                                                            The EcoCyc database:
                                                            reflecting new knowledge about <em>Escherichia coli</em>
                                                            K-12
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="/nar/article/45/D1/D380/2290911">
                                                            BRENDA in 2017: new
                                                            perspectives and new tools in BRENDA
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
     
                                            <div class="widget widget-RelatedPubMed widget-instance-Article_RightRailB0Article_RightRail_RelatedPubMed">
                                                <h3 class="article-widget-head">Related articles in PubMed</h3>
                                                <div class="widget-related-pubmed">
                                                    <div class="inner-content-wrap">
                                                        <div class="inner-content">
                                                            <div class="article-title">
                                                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/32418355"
                                                                   id="article_ArticleTitle" target="">
                                                                    Porcine
                                                                    rotavirus C strains carrying human-like NSP4 and
                                                                    NSP5.
                                                                </a>
                                                            </div>
                                                            <!-- <div class="citation"><span>Zoonoses Public Health</span> 2020.</div> -->
                                                        </div>
                                                    </div>
                                                    <div class="inner-content-wrap">
                                                        <div class="inner-content">
                                                            <div class="article-title">
                                                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/32418333"
                                                                   id="article_ArticleTitle" target="">
                                                                    The control of
                                                                    the brown planthopper by the rice Bph14 gene is
                                                                    affected by nitrogen.
                                                                </a>
                                                            </div>
                                                            <!-- <div class="citation"><span>Pest Manag Sci</span> 2020.</div> -->
                                                        </div>
                                                    </div>
                                                    <div class="inner-content-wrap">
                                                        <div class="inner-content">
                                                            <div class="article-title">
                                                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/32418319"
                                                                   id="article_ArticleTitle" target="">
                                                                    Adenovirus
                                                                    emergence in a red squirrel (Sciurus vulgaris) in
                                                                    Iberian Peninsula.
                                                                </a>
                                                            </div>
                                                            <!-- <div class="citation"><span>Transbound Emerg Dis</span> 2020.</div> -->
                                                        </div>
                                                    </div>
                                                    <div class="inner-content-wrap">
                                                        <div class="inner-content">
                                                            <div class="article-title">
                                                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/32418310"
                                                                   id="article_ArticleTitle" target="">
                                                                    KinomeRun: An
                                                                    interactive utility for kinome target screening and
                                                                    interaction fingerprint analysis towards holistic
                                                                    visualization on kinome tree.
                                                                </a>
                                                            </div>
                                                            <!-- <div class="citation"><span>Chem Biol Drug Des</span> 2020.</div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="article-widget-foot">
                                                    <div class="view-more">
                                                            <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=((genes)+OR+(genome)+OR+(enzymes)+OR+(ligands))" id="Config_ViewMoreLink" class="view-more-link" target="_blank">View More</a>
                                                    </div>
                                                </div> -->

                                            </div>

                                            <div class="widget widget-ArticleListNewAndPopular widget-instance-Article_RightRailB0Article_RightRail_ArticleNewPopularCombined">
                                                <ul class="articleListNewAndPopularCombinedView">
                                                    <li>
                                                        <h3>
                                                            <a href="javascript:;"
                                                               class="articleListNewAndPopular-mode active"
                                                               data-mode="MostRecent">Latest</a>
                                                        </h3>
                                                    </li>
                                     
                                                </ul>
                                                <section class="articleListNewPopContent articleListNewAndPopular-ContentView-MostRecent hasContent">

                                                    <div id="newPopularList-Article_RightRailB0Article_RightRail_ArticleNewPopularCombined"
                                                         class="fb">
                                                        <div class="widget-layout widget-layout--vert">

                                                            <div class="widget-columns widget-col-1">
                                                                <div class="col">

                                                                    <div class="widget-dynamic-entry">

                                                                        <a href="/nar/advance-article/doi/10.1093/nar/gkaa489/5854143?searchresult=1">
                                                                            <div class="widget-dynamic-journal-title">
                                                                                Pathological mutations in PNKP trigger
                                                                                defects in DNA single-strand break
                                                                                repair but not DNA double-strand break
                                                                                repair
                                                                            </div>
                                                                        </a>
                                                                        <div class="widget-dynamic-journal-image-synopsis">
                                                                            <div class="widget-dynamic-journal-synopsis">

                                                                            </div>
                                                                            <!-- /.widget-dynamic-journal-synopsis -->
                                                                        </div>

                                                                    </div>
                                                                    <div class="widget-dynamic-entry">


                                                                        <a href="/nar/advance-article/doi/10.1093/nar/gkaa481/5854142?searchresult=1">
                                                                            <div class="widget-dynamic-journal-title">
                                                                                Improving the prediction accuracy of
                                                                                protein abundance in
                                                                                <em>
                                                                                    Escherichia
                                                                                    coli
                                                                                </em> using mRNA accessibility
                                                                            </div>
                                                                        </a>
                                                                        <div class="widget-dynamic-journal-image-synopsis">
                                                                            <div class="widget-dynamic-journal-synopsis">

                                                                            </div>
                                                                            <!-- /.widget-dynamic-journal-synopsis -->
                                                                        </div>

                                                                    </div>
                                                                    <div class="widget-dynamic-entry">


                                                                        <a href="/nar/advance-article/doi/10.1093/nar/gkaa396/5854141?searchresult=1">
                                                                            <div class="widget-dynamic-journal-title">
                                                                                RNAProbe: a web server for normalization
                                                                                and analysis of RNA structure probing
                                                                                data
                                                                            </div>
                                                                        </a>
                                                                        <div class="widget-dynamic-journal-image-synopsis">
                                                                            <div class="widget-dynamic-journal-synopsis">
                                                                                <img src="https://oup.silverchair-cdn.com/oup/backfile/Content_public/Journal/nar/PAP/10.1093_nar_gkaa396/1/s_gkaa396gra1.jpeg?Expires=1594629307&amp;Signature=ZUkUaCq8C4QV0LedaKWNbkXwi1oJKFeIBIbxB8nM-Or8pu1n1WkvvA9LEkOTIZrbWCmfVI9rZ~5arfMNNTKlnReQ-VxUoU478wS6dlePx6ek~VZI42K9kqpkIc33IY0sFoH~bO6I6SAQnsF0GuzaN8jDG7YKgd5O~hWmi2T3OFK1v02ca79Ld1k4Lu~~Y9lxTyE5Qq1AqQ~gh6-IC51A8X8LykKfP8Nb6TvhEEFcQozA4fNb1Q2GWXxl30JnWX6sPmmUpa08~dQpJl2lzOmzHq9sll6QZEuKw8higD8zpHf7Dprfdv96HJDXjOROOwhP76vN~UvqDLQpG7A0RNFmqw__&amp;Key-Pair-Id=APKAIE5G5CRDK6RD3PGA"
                                                                                     width="115px"
                                                                                     class="widget-dynamic-journal-featured-image">

                                                                            </div>
                                                                            <!-- /.widget-dynamic-journal-synopsis -->
                                                                        </div>

                                                                    </div>
                                                                    <div class="widget-dynamic-entry">


                                                                        <a href="/nar/advance-article/doi/10.1093/nar/gkaa483/5851738?searchresult=1">
                                                                            <div class="widget-dynamic-journal-title">
                                                                                Topoisomerase II contributes to DNA
                                                                                secondary structure-mediated
                                                                                double-stranded breaks
                                                                            </div>
                                                                        </a>
                                                                        <div class="widget-dynamic-journal-image-synopsis">
                                                                            <div class="widget-dynamic-journal-synopsis">

                                                                            </div>
                                                                            <!-- /.widget-dynamic-journal-synopsis -->
                                                                        </div>

                                                                    </div>
                                                                    <div class="widget-dynamic-entry">


                                                                        <a href="/nar/advance-article/doi/10.1093/nar/gkaa487/5851737?searchresult=1">
                                                                            <div class="widget-dynamic-journal-title">
                                                                                Substrate specificities of
                                                                                <em>Escherichia coli</em> ItaT that
                                                                                acetylates aminoacyl-tRNAs
                                                                            </div>
                                                                        </a>
                                                                        <div class="widget-dynamic-journal-image-synopsis">
                                                                            <div class="widget-dynamic-journal-synopsis">

                                                                            </div>
                                                                            <!-- /.widget-dynamic-journal-synopsis -->
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.widget-layout-[orientation] -->
                                                    </div>
                                                </section>
                                    
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>